<template>
  <div class="p-2 flex border-b-2 space-x-2">
    <div class="h-24 w-24 rounded bg-gray-100" ></div>
    <div class="h-full w-full px-2">
      <h2 class="mb-2 font-serif font-medium text-xl bg-gray-100 w-3/4 h-8"></h2>
      <p class=" bg-gray-100 text-sm font-serif h-5 mb-2"></p>
      <p class=" bg-gray-100 text-sm font-serif w-1/4 h-5"></p>
    </div>
  </div>
</template>

<script setup>
</script>

<style scoped>

</style>