<template>
  <form @submit.prevent="submitSearch">
    <input type="text" v-model="state.query" class="w-full p-2 focus:outline-none" placeholder="Search for pages containing [X]">
  </form>
</template>

<script setup>
import {useWikiStore} from "@/stores/wiki";
import {reactive} from "vue";

const wiki = useWikiStore();

const state =  reactive({
  query: "",
})

const submitSearch = () => {
  wiki.searchResults(state.query)
  state.query = ""
}

</script>

<style scoped>

</style>