<template>
  <div class="p-2 flex border-b-2 space-x-2">
    <img class="h-24 w-24 rounded" v-if="props.item.thumb" :src="props.item.thumb" />
    <img class="h-24 w-24 rounded" v-else src="https://via.placeholder.com/150" />
    <div class="h-full w-full px-2">
      <h2 class="mb-2 font-serif font-medium text-xl">{{ props.item.title }}</h2>
      <p class="text-sm font-serif">{{ props.item.description }}</p>
    </div>
  </div>
</template>

<script setup>

const props =  defineProps({
  item: Object
})
</script>

<style scoped>

</style>