<template>
  <SearchItem
      v-if="store.results.length !== 0"
      v-for="result in store.results"
      :key="result.id"
      :item="result"
  />
  <PlaceHolderItem v-else />

</template>

<script setup>
import SearchItem from "@/components/SearchItem.vue";
import {useWikiStore} from "@/stores/wiki";
import PlaceHolderItem from "@/components/PlaceHolderItem.vue";

const store =  useWikiStore()

</script>

<style scoped>

</style>