<template>
  <select v-model="state.currLanguage" @change="changeLanguage" class="p-3 rounded border mr-2 w-1/3">
    <option value="">-- Select Wikipedia --</option>
    <option v-for="language in wiki.languages" :key="language.wiki" :value="language.wiki">{{ language.language }}</option>
  </select>
  <select v-model="state.perPage" @change="wiki.setResultNumber(state.perPage)" class="p-3 rounded border mr-2 w-20">
    <option value="">-- Result Number --</option>
    <option v-for="page in state.pages" :key="page" :value="page">{{ page }}</option>
  </select>
  <button @click="wiki.resetResults()" class="bg-gray-800 text-white py-2 px-3 rounded uppercase"> Reset Results</button>
</template>

<script setup>
import {useWikiStore} from "@/stores/wiki";
import {reactive} from "vue";
const wiki = useWikiStore()

const state =  reactive({
  currLanguage: "en",
  perPage: 10,
  pages: [5,10,15,20]
})

const changeLanguage = ()=> {
wiki.changeSubDomain(state.currLanguage)
}

</script>

<style scoped>

</style>