<script setup>
import SearchForm from "@/components/SearchForm.vue";
import SearchResults from "@/components/SearchResults.vue";
import SelectLanguage from "@/components/SelectLanguage.vue";
</script>

<template>
  <div class="w-screen h-screen">
    <div class="container mx-auto p-5">
      <div class="mx-auto border-2 border-gray-10 rounded-sm flex flex-col">
        <SearchResults />
        <SearchForm />
      </div>
    </div>
    <footer class="container mx-auto p-5 mt-28">
      <SelectLanguage />
    </footer>
  </div>
</template>

